<body>
  <div>
    <p>Hi {{name}},</p>
    <p>You have a request to reset your password if you are not the one you can ignore this email or click on the link below to reset</p>
    <br />
    <a href='{{token}}'>{{token}}</a>
  </div>
</body>